/** Import des variables et mixins **/
h1 {
  text-transform: capitalize;
  color: #ffffff;
  font-size: 3rem;
}

h2 {
  text-transform: capitalize;
  font-size: 1rem;
  color: #03045E;
}

/** Import des layouts **/
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

/** .form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 16px 16px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . form-filled form-filled form-filled form-filled form-filled form-filled form-filled . ."
      ". . form-filled form-filled form-filled form-filled form-filled form-filled form-filled . ."
      ". . form-filled form-filled form-filled form-filled form-filled form-filled form-filled . ."
      ". . form-filled form-filled form-filled form-filled form-filled form-filled form-filled . ."
      ". . form-filled form-filled form-filled form-filled form-filled form-filled form-filled . ."
      ". . form-filled form-filled form-filled form-filled form-filled form-filled form-filled . ."
      ". . form-results form-results form-results form-results form-results form-results form-results . ."
      ". . form-results form-results form-results form-results form-results form-results form-results . .";
  }

  .form-filled {
    padding: 2rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    grid-area: form-filled; }

  .form-results {
    background-color: rgba(255, 255, 255, 0.5);
    grid-area: form-results; }
  **/
.container {
  margin-top: 1.5rem;
}

.form .form-filled {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form .form-filled .nom-prenom {
  display: flex;
  justify-content: space-around;
  color: #03045E;
}
.form .form-filled .btn-form {
  display: flex;
  justify-content: space-around;
  color: #03045E;
}
.form .form-filled .adresse-email {
  display: flex;
  justify-content: space-around;
  color: #03045E;
}
.form .form-filled .phone {
  display: flex;
  justify-content: space-around;
  color: #03045E;
}
.form .form-filled .logement {
  display: flex;
  justify-content: space-around;
  color: #03045E;
}
.form .form-filled .logement .radio {
  display: flex;
  gap: 0.5rem;
}
.form .form-filled .sejour {
  display: flex;
  justify-content: space-around;
  color: #03045E;
}
.form .form-filled .sejour .date {
  display: flex;
  gap: 0.5rem;
}
.form .form-filled .people {
  display: flex;
  justify-content: space-around;
  color: #03045E;
}
.form .form-filled .people .nbr-people {
  display: flex;
  gap: 0.5rem;
}
.form .form-filled .options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  color: #03045E;
}
.form .form-filled .options .options-checkbox {
  display: flex;
  gap: 5rem;
}
.form .form-filled .dietSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  color: #03045E;
}
.form .form-filled .dietSection .diet {
  display: flex;
  gap: 2rem;
}
.form .form-filled .dietSection .diet .radio {
  display: flex;
  gap: 0.5rem;
}

/** Import des composants **/
.primary-btn {
  padding: 0.5rem 2rem;
  background-color: #0077B6;
  color: #ffffff;
  border-color: #03045E;
  border-radius: 5px;
  text-transform: uppercase;
}

.secondary-btn {
  padding: 0.5rem 2rem;
  background-color: #FF0000;
  color: #000000;
  border-color: #FF0000;
  border-radius: 5px;
  text-transform: capitalize;
}

.validate-btn {
  padding: 0.5rem 2rem;
  background-color: #CAF0F8;
  color: #03045E;
  border-color: #CAF0F8;
  border-radius: 5px;
  text-transform: capitalize;
}

/** Import base **/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/** body{
    background-image: url(assets/images/background.jpg);
} **/

/*# sourceMappingURL=styles.css.map */
